# Explore here

In [1]:
# Your code here
#Construccion de un modelo de regresión logística
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv',sep=';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [2]:
df = df.drop_duplicates().reset_index(drop=True) #Eliminacion de duplicados.
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41172,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41173,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41174,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41175,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
df.isnull().sum() #Revision de datos nulos.

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [7]:
## Salto de pasos de EDA

# Inicio de Escalado: Volver numerico las variables categoricas
df['job_n']=pd.factorize(df['job'])[0]

def factorizar_categoricas(df,variables_categoricas):
    for categorica in variables_categoricas:
        categorica_n= categorica+"_n"
        df[categorica_n]=pd.factorize(df[categorica])[0]
    return df

df=factorizar_categoricas(df,['marital','education','default','housing','loan','contact','month','day_of_week','poutcome','y'])
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,marital_n,education_n,default_n,housing_n,loan_n,contact_n,month_n,day_of_week_n,poutcome_n,y_n
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,0,0,0,0,0,0,0,0,0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,0,1,1,0,0,0,0,0,0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,0,1,0,1,0,0,0,0,0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,0,2,0,0,0,0,0,0,0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,0,4,0,1,0,1,5,4,0,1
41172,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,0,4,0,0,0,1,5,4,0,0
41173,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,0,6,0,1,0,1,5,4,0,0
41174,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,0,4,0,0,0,1,5,4,0,1
41175,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,0,4,0,1,0,1,5,4,1,0

In [5]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'job_n', 'marital_n',
       'education_n', 'default_n', 'housing_n', 'loan_n', 'contact_n',
       'month_n', 'day_of_week_n', 'poutcome_n', 'y_n'],
      dtype='object')

In [12]:
from sklearn.preprocessing import MinMaxScaler

n_list = ('age','duration','campaign','pdays','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','','job_n','marital_n','education_n','default_n','housing_n','loan_n','contact_n','month_n','day_of_week_n','poutcome_n','y_n')

scaler= MinMaxScaler()
variables_escaladas = scaler.fit_transform(df[n_list])
df_escalado = pd.DataFrame(variables_escaladas,index=df.index,columns=n_list)
df_escalado

KeyError: ('age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', '', 'job_n', 'marital_n', 'education_n', 'default_n', 'housing_n', 'loan_n', 'contact_n', 'month_n', 'day_of_week_n', 'poutcome_n', 'y_n')

In [ ]:
#Seleccion de caracteristicas
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2, SelectKBest

X = df_escalado.drop('y_n',axis=1)
y = df_escalado('y_n')

X_train, X_test, y_train, y_train = train_test_split(X,y,test_size=0.2,random_state=42)
columnas_seleccionadas = SelectKBest(chi2,k=16)
columnas_seleccionadas.fit(X_train,y_train)
ix = columnas_seleccionadas.get_support()

X_train_sel = pd.DataFrame(columnas_seleccionadas.transform(X_train),columns=X_train.columns.value(ix))
X_test_sel = pd.DataFrame(columnas_seleccionadas.transform(X_test),columns=X_test.columns.value(ix))

X_train_sel

In [ ]:
#Guardar datos en archivo (agregar variable objetivo a X_train_sel y X_test_sel)
#Escribir CSV
#Leer CSV
#Armar X e y de train y de test

In [ ]:
#Crear el modelo
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_sel,y_train)

In [ ]:
#Predicciones
y_predict = model.predict(X_test_sel)
y_predict

In [ ]:
#Medir modelo
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

In [ ]:
#Creacion de Grid (copiar del modulo de clase)
from sklearn.model_selection import GridSearchCV

# Definimos los parámetros que queremos ajustar a mano
hyperparams = {
    "C": [0.001, 0.01, 0.1, 1, 10, 100, 1000],
    "penalty": ["l1", "l2", "elasticnet", None],
    "solver": ["newton-cg", "lbfgs", "liblinear", "sag", "saga"]
}

# Inicializamos la cuadrícula
grid = GridSearchCV(model, hyperparams, scoring = "accuracy", cv = 5)
grid

#Obtener los mejores parametros (copiar def warn)
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

grid.fit(X_train_sel, y_train)

print(f"Mejores hiperparámetros: {grid.best_params_}")

In [ ]:
#Declarar modelo
model_hyper = LogisticRegression(C=0.001,penalty=None,solver='newton-cg')
model_hyper.fit(X_train_sel,y_train)

y_pred2 = model_hyper.oredict(X_test_sel)

accuracy_score(y_test,y_pred2)